/*  Task 2.1 Layout CSS tillsammans med base.css */





/* Globala stilar */
:root {

  --asian-text-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--asian-text-color);

  background-image: url('fish.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

}

/* Huvudkomponenter */
.header,
.aside,
.main {
  background-color: white;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Specifika komponenter */
.search-box,
.category-list,
.recipe-list {
  padding: 5px;
}

.search-box input[type="text"] {
  border: 2px solid #0c88da;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

/* Ändra bågens färg när musen svävar över sökfältet */
.search-box input[type="text"]:hover {
  border-color: #2980b9;
}


.alert {
  padding: 20px;
  color: black;
  margin-bottom: 15px;
}

.alert.success {color: #04AA6D;}
.alert.info {color: #2196F3;}
.alert.warning {color: #ccff00;}
.alert.danger {color: #f44336;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}